.default3, .skola, .flower-197197_1280{
	background: url(sprites.png) no-repeat;
}

.default3{
	background-position: 0 0;
	width: 336px;
	height: 336px;
}

.skola{
	background-position: 0 -339px ;
	width: 800px;
	height: 600px;
}

.flower-197197_1280{
	background-position: 0 -940px ;
	width: 1280px;
	height: 878px;
}

