body {
    background-color:blue;
    margin: 0px;
}


#sidebar_menu {
    background-color:white;
    width: 180px;
    height: 100%;
    float:left;
    margin: 0;

}

.sidebar_button {
    float: left;
    margin-top:2px;
    width: 100px;
    background: #00b815;
    background-image: -webkit-linear-gradient(top, #00b815, #078219);
    background-image: -moz-linear-gradient(top, #00b815, #078219);
    background-image: -ms-linear-gradient(top, #00b815, #078219);
    background-image: -o-linear-gradient(top, #00b815, #078219);
    background-image: linear-gradient(to bottom, #00b815, #078219);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 25.5px 40px 25.5px 40px;
    text-decoration: none;
    text-align: center;
}

.sidebar_button:hover {
    background: #0be300;
    background-image: -webkit-linear-gradient(top, #0be300, #0ce800);
    background-image: -moz-linear-gradient(top, #0be300, #0ce800);
    background-image: -ms-linear-gradient(top, #0be300, #0ce800);
    background-image: -o-linear-gradient(top, #0be300, #0ce800);
    background-image: linear-gradient(to bottom, #0be300, #0ce800);
    text-decoration: none;
}
#overhead_bar {
    background-color: orange;
    width: 100%;
    height:125px;
    margin: 0;
    float: right;
    padding: 0;
}

#twitter_feed {
    background-color: grey;
    width: 250px;
    height: 800px;
    float: right;
    margin: 0;
    padding: 0;
}

#skol_namn {
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    font-style: inherit;
    color: #ffffff;
    -webkit-user-select: none;
}

#login_container {
    background-color: orange;
    height: 100%;
    width: 30%;
    float: right;
    padding: 0;
}

#checkbox_kom_ihag_mig {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 4%;
}

.login_bar {
    height: 20%;
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 2px solid #000000;
}

#login_button {
    background: #00b815;
    background-image: -webkit-linear-gradient(top, #00b815, #078219);
    background-image: -moz-linear-gradient(top, #00b815, #078219);
    background-image: -ms-linear-gradient(top, #00b815, #078219);
    background-image: -o-linear-gradient(top, #00b815, #078219);
    background-image: linear-gradient(to bottom, #00b815, #078219);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5.5px 20px 5.5px 20px;
    text-decoration: none;
    margin-left:4%;
    margin-top: 4.5%;
    float: left;
    text-align: center;
}

#login_button:hover {
    background: #0be300;
    background-image: -webkit-linear-gradient(top, #0be300, #0ce800);
    background-image: -moz-linear-gradient(top, #0be300, #0ce800);
    background-image: -ms-linear-gradient(top, #0be300, #0ce800);
    background-image: -o-linear-gradient(top, #0be300, #0ce800);
    background-image: linear-gradient(to bottom, #0be300, #0ce800);
    text-decoration: none;
}

#twitter_feed {
    height: 100%;
}

#larar_information {
    float: left;
    margin-left: 225px;
    color: white;
}


#slide-1 {
    width:400px;
    height: 100%;
    background-color: reD;
    float: left;
}
#slide-2 {
    width: 400px;
    height: 100%;
    background-color: green;
    float: left;
}

