<div id="matsedel_rubrik">
  <h2 id="vecka_info">Vecka 5</h2>
  <h1 id="matsedel_rubrik1">Matsedel</h1>
</div>
<div class="line"></div>
<div class="lunch_info">
  <h2>Måndag</h2>
  <h2 id="mandag_lunch">Fiskgratäng med räkor</h2>
</div>
<div class="line"></div>
<div class="lunch_info">
  <h2>Tisdag</h2>
  <h2 id="mandag_lunch">Hamburgare med pommes frites</h2>
</div>
<div class="line"></div>
<div class="lunch_info">
  <h2>Onsdag</h2>
  <h2 id="mandag_lunch">Kycklingfilé med klyftpotatisar</h2>
</div>
<div class="line"></div>
<div class="lunch_info">
  <h2>Torsdag</h2>
  <h2 id="mandag_lunch">Pastasallad med skinka och kyckling</h2>
</div>
<div class="line"></div>
<div class="lunch_info">
  <h2>Fredag</h2>
  <h2 id="mandag_lunch">Lov, ingen mat serveras i skolan</h2>
</div>