<script>
    jQuery(document).ready(function ($) {
        var options = {
            $AutoPlay: true,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
        };
        var jssor_slider1 = new $JssorSlider$("slider1_container", options);
    });
</script>
<div id="nyheter_rubrik"><h1>Nyheter</h1></div>
<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px;
        height: 400px;">
  <!-- Slides Container -->
  <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 400px;
          overflow: hidden;">
    <div class="flower-197197_1280"></div>
    <div class="flower-197197_1280"></div>
    <div class="flower-197197_1280"></div>
  </div>
  <a style="display: none" href="http://www.jssor.com">Image Slider</a>
</div>
<div id="text_ruta_nyheter">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan leo ac arcu ornare congue. Suspendisse vitae sapien eget leo interdum aliquet. Curabitur sollicitudin sem non ipsum scelerisque hendrerit. Pellentesque elementum metus quis nibh sodales posuere. Aenean iaculis tempus erat eget ornare. Duis arcu libero, cursus id porta in, finibus quis nibh. Proin euismod placerat convallis. Integer tristique convallis eros eu tristique. Sed congue nibh nec justo blandit iaculis. Etiam ultricies et dolor non blandit.

    Praesent vitae consectetur leo, sed cursus erat. Donec lacus eros, gravida in massa a, blandit varius sem. Suspendisse potenti. Vestibulum sed odio ex. Curabitur sed lorem nec massa pulvinar consectetur. Nullam luctus urna a arcu mollis tincidunt. Praesent lacinia tincidunt ultrices. Praesent luctus libero et felis vehicula, in porttitor metus commodo. Vivamus ante dui, feugiat nec tincidunt dictum, tristique quis libero. Donec odio diam, laoreet nec neque vitae, condimentum tempor nibh. Integer at dapibus orci. In at vehicula mi. Pellentesque id vehicula urna. Mauris a lectus in ipsum rhoncus laoreet.

</div>

