<h1 id="larar_information_rubrik">Information om våra lärare</h1>
<div id="larar_information">
  <div class="larar_bild"></div>
  <div class="larar_bild"></div>
  <div class="larar_ruta">Lorem ipsum dolor sit amet.</div>
  <div class="larar_ruta">Lorem ipsum dolor sit amet.</div>
  <div class="larar_bild"></div>
  <div class="larar_bild"></div>
  <div class="larar_ruta">Lorem ipsum dolor sit amet.</div>
  <div class="larar_ruta">Lorem ipsum dolor sit amet.</div>
</div>



