body {
    background-color:#4652db;
    margin: 0px;
}

.slide-out-div {
float: left;
}

.handle {
    float: left;
    width: 100px;
    height: 100px;
    background-color: blue;
}

a.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

h1.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.flower-197197_1280, .skola, .larar_bild{
    background: url(../img/sprites.png) no-repeat;
}

.flower-197197_1280{
    background-position: 0 0;
    width: 800px;
    height: 400px;
}


#sidebar_menu {
    background-color:white;
    width: 180px;
    height: 100%;
    float:left;
    margin: 0;

}

a.sidebar_button {
    float: left;
    margin-top:2px;
    width: 100px;
    background: #00b815;
    background-image: -webkit-linear-gradient(top, #00b815, #078219);
    background-image: -moz-linear-gradient(top, #00b815, #078219);
    background-image: -ms-linear-gradient(top, #00b815, #078219);
    background-image: -o-linear-gradient(top, #00b815, #078219);
    background-image: linear-gradient(to bottom, #00b815, #078219);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 1px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight:normal ;
    padding: 30px 40px 30px 40px;
    text-decoration: none;
    text-align: center;
}

.sidebar_button:hover {
    background: #0be300;
    background-image: -webkit-linear-gradient(top, #0be300, #0ce800);
    background-image: -moz-linear-gradient(top, #0be300, #0ce800);
    background-image: -ms-linear-gradient(top, #0be300, #0ce800);
    background-image: -o-linear-gradient(top, #0be300, #0ce800);
    background-image: linear-gradient(to bottom, #0be300, #0ce800);
    text-decoration: none;
}
#overhead_bar {
    background-color: #e1972c;
    width: 100%;
    height:125px;
    margin: 0;
    float: right;
    padding: 0;
}

#twitter_feed {
    width: 250px;
    height: 100px;
    float: right;
    margin: 0;
    padding: 0;
}

#skol_namn {
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    font-style: inherit;
    color: #ffffff;
    -webkit-user-select: none;
}

#login_container {
    height: 100%;
    width: 30%;
    float: right;
    padding: 0;
}

#checkbox_kom_ihag_mig {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 4%;
    font-family: Helvetica, sans-serif;
    font-style: inherit;
}

.login_bar {
    height: 20%;
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 2px solid #000000;
}

#login_button {
    background: #00b815;
    background-image: -webkit-linear-gradient(top, #00b815, #078219);
    background-image: -moz-linear-gradient(top, #00b815, #078219);
    background-image: -ms-linear-gradient(top, #00b815, #078219);
    background-image: -o-linear-gradient(top, #00b815, #078219);
    background-image: linear-gradient(to bottom, #00b815, #078219);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 5.5px 20px 5.5px 20px;
    text-decoration: none;
    margin-left:4%;
    margin-top: 4.5%;
    float: left;
    text-align: center;
    font-family: helvetica, sans-serif;
}

#login_button:hover {
    background: #0be300;
    background-image: -webkit-linear-gradient(top, #0be300, #0ce800);
    background-image: -moz-linear-gradient(top, #0be300, #0ce800);
    background-image: -ms-linear-gradient(top, #0be300, #0ce800);
    background-image: -o-linear-gradient(top, #0be300, #0ce800);
    background-image: linear-gradient(to bottom, #0be300, #0ce800);
    text-decoration: none;
}


#larar_information_rubrik {
    float: left;
    margin-left: 370px;
    color: white;
}

#larar_information {
    float: left;
    margin-left: 200px;
    width: 725px;
    height: 550px;
    background-color: rgba(255, 249, 251, 0.65);
}
.larar_bild {
    background-position: -303px -404px ;
    width: 125px;
    height: 170px;
    float: left;
    margin-left: 155px;
    margin-top: 25px;
}

.larar_ruta {
    float: left;
    width: 170px;
    height: 50px;
    margin-left: 125px;
    margin-top: 25px;

}

#nyheter_rubrik {
    margin-left: 515px;
    float: left;
    color: white;
}

#slider1_container {
    margin-top: 1%;
    margin-right: 275px;
    margin-bottom: 0;
    float: right;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border: 2px solid black;
}

#text_ruta_nyheter {
    width: 804px;
    height: 200px;
    background-color: rgba(255, 249, 251, 0.65);
    float: left;
    margin-left: 201px;
    margin-top: 25px;
}

#text_ruta {
    float: left;
    width: 200px;
    height: 400px;
    background-color: blue;
    margin-top: 500px;
}

#skolan_rubrik {
    color: #ffffff;
    float: left;
    margin-left: 430px;
    margin-bottom: 0;
}

.skola {
    background-position: 0 -403px ;
    width: 300px;
    height: 220px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    float: right;
}

#skola_information {
    background-color: grey;
    width: 300px;
    height: 475px;
    float: left;
    margin-left: 300px;
    margin-top: 50px;
}

#skola_information_text {
    margin-left: 10px;
}

#skola_information_rubrik {
    margin-left: 100px;
}

#schema_rubrik {
    float: left;
    color: white;
    margin-left: 550px;
}

#schema {
    width: 800px;
    height: 400px;
    float: right;
    margin-right: 50px;
}


#vecka_info {
    float: left;
    margin-left: 300px;
    margin-top: 28px;
}

#matsedel_rubrik1 {
    float: right;
    margin-right: 350px;
    color: white;
}

.line {
    background-color: grey;
    height: 1px;
    width: 700px;
    float: left;
    margin-left: 250px;
}

.lunch_info {
    float: left;
    margin-left: 300px;
}

#mandag_lunch {
    color: white;
}

